div.tags-input ul {list-style:none; display:flex; flex-wrap:wrap; margin-bottom:4px;}
div.tags-input ul li {margin-right:7px; margin-bottom:5px; background-color:#17202a; color:#fdfdfe; font-size:13px; padding:4px 8px; padding-bottom:5px; border-radius:5px; display:flex; align-items:center; align-content:center;}
div.tags-input ul li i {margin-left:5px; transform:translateY(-2px); font-size:14px; cursor:pointer;}
